
// variables
$hover-blue: #1e40af;
$blue: #2563eb;
$grey: #cbd5e1;
$red: #ef4444;
$font: 'Playfair Display', serif;
$dateFont: 'Roboto', sans-serif;

// mixins
@mixin remove-anchor-styling($color: #000) {
  text-color: $color;
  text-decoration: none;
}

@mixin remove-button-styling {
  border: none;
  background: none;
  cursor: pointer;
}

@mixin button-styling($bg-color: $blue, $bg-color-hover: $hover-blue, $text-color: #fff) {
  @include remove-button-styling;
  color: $text-color;
  background-color: $bg-color;
  border-radius: 5px;
  @include transition(background-color, 300ms);

  &:hover {
    background-color: $bg-color-hover;
  }
}

@mixin justify-align($justify: center, $align: center) {
  justify-content: $justify;
  align-items: $align;
}

@mixin box-shadow {
  // i copied this box shadow setting from the tailwind docs (box-shadow-md)
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@mixin transition($el, $duration: 300ms) {
  transition: $el $duration ease;
  -webkit-transition: $el $duration ease;
  -moz-transition: $el $duration ease;
  -ms-transition: $el $duration ease;
  -o-transition: $el $duration ease;
}

@mixin input-styling {
  padding-left: 10px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: $grey;
  @include transition(border-color, 100ms);

  &:focus {
    outline: none;
    border-color: $hover-blue;
  }
}